[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restplus = "*"
flask-migrate = "*"
werkzeug = "==0.16.1"
Flask-SQLAlchemy = "==2.1"

[requires]
python_version = "3.8"
